@using MyLaboratory.WebSite.Models.ViewModels.Account

@model LoginOutputViewModel

@{
    bool mailSent = ViewBag.mailSent ?? false;
    string sentEmailAddress = ViewBag.sentEmailAddress ?? "";
}
@if (!mailSent)
{
    <div class="login-box">
        <div class="card card-outline card-primary">
            <div class="card-header text-center">
                <a href="#" class="h1"><b>My</b>Laboratory</a>
            </div>
            <div class="card-body">
                <p class="login-box-msg">@localizer["You forgot your password? Here you can easily retrieve a new password."]</p>
                <form id="forgotPasswordForm" class="form-horizontal" method="post" asp-controller="Account" asp-action="ForgotPassword">
                    @Html.AntiForgeryToken()
                    <div class="form-group has-feedback">
                        <input asp-for="Email" type="email" class="form-control" placeholder="@localizer["Email"]" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary btn-block" onclick="ShowForgotPasswordLoading()">@localizer["Request new password"]</button>
                        </div>
                    </div>
                </form>
                <p class="mt-3 mb-1">
                    <a asp-controller="Account" asp-action="Login">@localizer["Login"]</a>
                </p>
            </div>
        </div>
    </div>
    <div class="modal" id="loading">
        <img src="~/anonymous/custom/Account/img/ajax-loader.gif" />
    </div>
}
else
{
    <div class="login-box">
        <div class="card card-outline card-primary">
            <div class="card-header text-center">
                <a href="#" class="h1"><b>My</b>Laboratory</a>
            </div>
            <div class="card-body">
                <p class="login-box-msg">@localizer["Your mail has been sent."]</p>
                <div class="social-auth-links text-center mt-2 mb-3">
                    <p class="mb-0">
                        <font style="font-weight:bold" color="black">
                            @localizer["A reset password mail has been sent to the email you entered."]
                            <br />
                            @localizer["If you do not receive an email, please check your spam folder or try again."]
                        </font>
                    </p>
                    <br />
                    <a asp-controller="Account" asp-action="ForgotPassword" class="btn btn-block btn-primary">
                        <i class="fas fa-key" style="padding-right:3px;"></i>@localizer["Back To Forgot password Page"]
                    </a>
                </div>
            </div>
        </div>
    </div>
}
@section Scripts{
    <script src="~/anonymous/custom/Account/js/site.js" asp-append-version="true"></script>
}