@using MyLaboratory.WebSite.Models.ViewModels.Account

@model LoginOutputViewModel

@{
    bool resetPasswordComplete = ViewBag.resetPasswordComplete ?? false;
    bool failToResetPassword = ViewBag.FailToResetPassword ?? false;
    string resetPasswordToken = ViewBag.ResetPasswordToken ?? "";
    var error = TempData["Error"] as string;
}
@if (!resetPasswordComplete)
{
    @if (failToResetPassword)
    {
        <div class="register-box">
            <div class="card card-outline card-primary">
                <div class="card-header text-center">
                    <a href="#" class="h1"><b>My</b>Laboratory</a>
                </div>
                <div class="card-body">
                    <p class="login-box-msg"><font style="font-weight:bold" color="red">@localizer["The authentication token is invalid."]</font></p>
                    <div class="social-auth-links text-center mt-2 mb-3">
                        <p class="mb-0">
                            <font style="font-weight:bold" color="black">
                                @localizer["The validity period of the authentication token may have expired or wrong access detected."]
                                <br />
                                <br />
                                @localizer["Please try again."]
                                <br />
                                <br />
                                @localizer["If the problem persists,"]
                                <br />
                                @localizer["please contact your"]<a href="mailto:joeun3518@gmail.com">@localizer["administrator"]</a>.
                            </font>
                        </p>
                        <br />
                        <a asp-controller="Account" asp-action="Login" class="btn btn-block btn-primary">
                            <i class="fas fa-sign-in-alt" style="padding-right:3px;"></i>@localizer["Back To Login Page"]
                        </a>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="login-box">
            <div class="card card-outline card-primary">
                <div class="card-header text-center">
                    <a href="#" class="h1"><b>My</b>Laboratory</a>
                </div>
                <div class="card-body">
                    <p class="login-box-msg">@localizer["You are only one step a way from your new password, reset your password now."]</p>
                    <form id="resetPasswordForm" class="form-horizontal" method="post" asp-controller="Account" asp-action="ResetPassword">
                        @Html.AntiForgeryToken()
                        <input type="hidden" id="ResetPasswordToken" name="ResetPasswordToken" value="@resetPasswordToken" />
                        <div class="form-group has-feedback">
                            <input asp-for="Password" type="password" class="form-control" placeholder="@localizer["Password"]" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group has-feedback">
                            <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="@localizer["Confirm Password"]" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary btn-block" onclick="ShowResetPasswordLoading()">@localizer["Change password"]</button>
                            </div>
                        </div>
                    </form>
                    <p class="mb-0">
                        <font style="font-weight:bold" color="red">@error</font>
                    </p>
                </div>
            </div>
        </div>
        <div class="modal" id="loading">
            <img src="~/anonymous/custom/Account/img/ajax-loader.gif" />
        </div>

        @section Scripts{
            <script src="~/anonymous/custom/Account/js/site.js" asp-append-version="true"></script>
        }
    }
}
else
{
    <div class="register-box">
        <div class="card card-outline card-primary">
            <div class="card-header text-center">
                <a href="#" class="h1"><b>My</b>Laboratory</a>
            </div>
            <div class="card-body">
                <p class="login-box-msg"><font style="font-weight:bold" color="green">@localizer["Your account password has been successfully changed"]</font></p>
                <div class="social-auth-links text-center mt-2 mb-3">
                    <a asp-controller="Account" asp-action="Login" class="btn btn-block btn-primary">
                        <i class="fas fa-sign-in-alt" style="padding-right:3px;"></i>@localizer["Back To Login Page"]
                    </a>
                </div>
            </div>
        </div>
    </div>
}