@using Newtonsoft.Json
@using System.Text
@inject MyLaboratory.Common.DataAccess.Contracts.IAssetRepository assetRepository

@{
    Context.Session.TryGetValue("AccountSession", out byte[] resultByte);
}

@Html.AntiForgeryToken()
<section class="content">
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">@localizer["AccountBook Expenditure"].Value</h3>
        </div>

        <div class="card-body">
            <nav class="navbar-expand navbar-dark" style="position: relative; display: block !important; overflow-x: auto; overflow-y:hidden; align-items: center ">
                <ul class="navbar-nav">
                    <li class="nav-item" style="padding-bottom: 10px; padding-right: 7px;">
                        <button type="button" class="btn btn-primary btn-block btn-sm" data-toggle="modal" data-target="#createExpenditureDialogModal" data-backdrop="static" data-keyboard="false" style="width: 100px !important;"><i class="fa fa-plus" style="padding-right:3px;"></i> @localizer["CREATE"].Value</button>
                    </li>
                    <li class="nav-item" style="padding-bottom: 10px; padding-right: 7px;">
                        <button type="button" class="btn btn-success btn-block btn-sm" onclick="EditExpenditureGridRow('@localizer["Please select grid row"].Value')" style="width: 100px !important;"><i class="fas fa-edit" style="padding-right:3px;"></i> @localizer["EDIT"].Value</button>
                    </li>
                    <li class="nav-item" style="padding-bottom: 10px; padding-right: 7px;">
                        <button type="button" class="btn btn-danger btn-block btn-sm" onclick="ConfirmDeleteExpenditure('@localizer["Please select grid row"].Value')" style="width: 100px !important;"><i class="fa fa-trash" style="padding-right:3px;"></i> @localizer["DELETE"].Value</button>
                    </li>
                    <li class="nav-item" style="padding-bottom: 10px; padding-right: 7px;">
                        <button type="button" class="btn btn-secondary btn-block btn-sm" onclick="ExportExcelExpenditure()" style="width: 100px !important;"><i class="fas fa-file-excel" style="padding-right:3px;"></i> @localizer["EXCEL"].Value</button>
                    </li>
                    <li class="nav-item ml-auto">
                        <input type="text" id="gridSearch" placeholder="@localizer["Search..."].Value" style="margin-bottom: 7px; text-align: center; font-size: .7em; padding: 5px 0; color: #000; border: none; " />
                    </li>
                </ul>
            </nav>
            @Html.AjaxGrid(Url.Action("Expenditure", "AccountBook"))
        </div>
    </div>
</section>

@*<!--createExpenditureDialogModal-->*@
<div class="modal fade" tabindex="-1" role="dialog" id="createExpenditureDialogModal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div id="createExpenditureTabs">
                @*<!--Tab Menu-->*@
                <ul>
                    <li><a href="#createExpenditureTabs-1">@localizer["Add Expenditure"].Value</a></li>
                </ul>
                @*Tabs-1: Create Expenditure Modal*@
                <div id="createExpenditureTabs-1">
                    <form id="formCreateExpenditure" onsubmit="return CreateExpenditure()">
                        <div class="form-row">
                            <div class="form-group col-md-6 mb-3">
                                <label for="createExpenditureMainClass">@localizer["MainClass"].Value</label>
                                <br />
                                <select id="createExpenditureMainClass" name="createExpenditureMainClass" onchange="CreateFormShowExpenditureSubClassBySelectedExpenditureMainClass(this)">
                                    <option value="RegularSavings" selected="selected">@localizer["정기저축"].Value</option>
                                    <option value="NonConsumerSpending">@localizer["비소비지출"].Value</option>
                                    <option value="ConsumerSpending">@localizer["소비지출"].Value</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6 mb-3">
                                <label for="createExpenditureSubClass">@localizer["SubClass"].Value</label>
                                <br />
                                <select id="createExpenditureSubClass" name="createExpenditureSubClass" onchange="CreateFormShowExpenditureDivCreateExpenditureMyDepositAssetBySelectedExpenditureSubClass(this)">
                                    @*정기저축*@
                                    <option value="Deposit" selected="selected">@localizer["예적금"].Value</option>
                                    <option value="MyAssetTransfer">@localizer["내자산이체"].Value</option>
                                    <option value="Investment">@localizer["투자"].Value</option>
                                    @*비소비지출*@
                                    <option value="PublicPension" hidden="hidden">@localizer["공적연금"].Value</option>
                                    <option value="DebtRepayment" hidden="hidden">@localizer["부채상환"].Value</option>
                                    <option value="Tax" hidden="hidden">@localizer["세금"].Value</option>
                                    <option value="SocialInsurance" hidden="hidden">@localizer["사회보험"].Value</option>
                                    <option value="InterHouseholdTranserExpenses" hidden="hidden">@localizer["가구간 이전지출"].Value</option>
                                    <option value="NonProfitOrganizationTransfer" hidden="hidden">@localizer["비영리단체 이전"].Value</option>
                                    @*소비지출*@
                                    <option value="MealOrEatOutExpenses" hidden="hidden">@localizer["식비/외식비"].Value</option>
                                    <option value="HousingOrSuppliesCost" hidden="hidden">@localizer["주거/용품비"].Value</option>
                                    <option value="EducationExpenses" hidden="hidden">@localizer["교육비"].Value</option>
                                    <option value="MedicalExpenses" hidden="hidden">@localizer["의료비"].Value</option>
                                    <option value="TransportationCost" hidden="hidden">@localizer["교통비"].Value</option>
                                    <option value="CommunicationCost" hidden="hidden">@localizer["통신비"].Value</option>
                                    <option value="LeisureOrCulture" hidden="hidden">@localizer["여가/문화"].Value</option>
                                    <option value="ClothingOrShoes" hidden="hidden">@localizer["의류/신발"].Value</option>
                                    <option value="PinMoney" hidden="hidden">@localizer["용돈"].Value</option>
                                    <option value="ProtectionTypeInsurance" hidden="hidden">@localizer["보장성보험"].Value</option>
                                    <option value="OtherExpenses" hidden="hidden">@localizer["기타지출"].Value</option>
                                    <option value="UnknownExpenditure" hidden="hidden">@localizer["미파악지출"].Value</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6 mb-3">
                                <label for="createExpenditureContents">@localizer["Contents"].Value</label>
                                <input class="form-control form-control-sm" type="text" data-val="true" data-val-required="@localizer["Please enter Contents"].Value" id="createExpenditureContents" name="createExpenditureContents" value="">
                                <span class="field-validation-valid text-danger" data-valmsg-for="createExpenditureContents" data-valmsg-replace="true"></span>
                            </div>
                            <div class="form-group col-md-6 mb-3">
                                <label for="createExpenditureAmount">@localizer["Amount"].Value</label>
                                <input class="form-control form-control-sm" min="0" type="number" id="createExpenditureAmount" name="createExpenditureAmount" value="0">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6 mb-3">
                                <label for="createExpenditurePaymentMethod">@localizer["PaymentMethod"].Value</label>
                                <br />
                                <select id="createExpenditurePaymentMethod" name="createExpenditurePaymentMethod">
                                    @foreach (var item in await assetRepository.GetAssetsAsync(JsonConvert.DeserializeObject<Account>(Encoding.Default.GetString(resultByte)).Email))
                                    {
                                        if (!item.Deleted)
                                        {
                                            <option value="@item.ProductName">@item.ProductName</option>
                                        }
                                    }
                                </select>
                            </div>
                            <div class="form-group col-md-6 mb-3">
                                <label for="createExpenditureNote">@localizer["Note"].Value</label>
                                <input class="form-control form-control-sm" type="text" data-val="false" id="createExpenditureNote" name="createExpenditureNote" value="">
                            </div>
                        </div>
                        <div id="divCreateExpenditureMyDepositAsset" class="form-row">
                            <div class="form-group col-md-6 mb-3">
                                <label for="createExpenditureMyDepositAsset">@localizer["MyDepositAsset"].Value</label>
                                <br />
                                <select id="createExpenditureMyDepositAsset" name="createExpenditureMyDepositAsset">
                                    @foreach (var item in await assetRepository.GetAssetsAsync(JsonConvert.DeserializeObject<Account>(Encoding.Default.GetString(resultByte)).Email))
                                    {
                                        if (!item.Deleted)
                                        {
                                            <option value="@item.ProductName">@item.ProductName</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer justify-content-between">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">@localizer["Close"].Value</button>
                            <input type="submit" class="btn btn-primary" value="@localizer["Save"].Value" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@*<!--editExpenditureDialogModal-->*@
<div class="modal fade" tabindex="-1" role="dialog" id="editExpenditureDialogModal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div id="editExpenditureTabs">
                @*<!--Tab Menu-->*@
                <ul>
                    <li><a href="#editExpenditureTabs-1">@localizer["Edit Expenditure"].Value</a></li>
                </ul>
                @*Tabs-1: Edit Expenditure Modal*@
                <div id="editExpenditureTabs-1">
                    <form id="formEditExpenditure" onsubmit="return UpdateExpenditure()">
                        <input type="hidden" id="editExpenditureId" />
                        <div class="form-row">
                            <div class="form-group col-md-6 mb-3">
                                <label for="editExpenditureMainClass">@localizer["MainClass"].Value</label>
                                <br />
                                <select id="editExpenditureMainClass" name="editExpenditureMainClass" onchange="EditFormShowExpenditureSubClassBySelectedExpenditureMainClass(this)">
                                    <option value="RegularSavings" selected="selected">@localizer["정기저축"].Value</option>
                                    <option value="NonConsumerSpending">@localizer["비소비지출"].Value</option>
                                    <option value="ConsumerSpending">@localizer["소비지출"].Value</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6 mb-3">
                                <label for="editExpenditureSubClass">@localizer["SubClass"].Value</label>
                                <br />
                                <select id="editExpenditureSubClass" name="editExpenditureSubClass" onchange="EditFormShowExpenditureDivCreateExpenditureMyDepositAssetBySelectedExpenditureSubClass(this)">
                                    @*정기저축*@
                                    <option value="Deposit" selected="selected">@localizer["예적금"].Value</option>
                                    <option value="MyAssetTransfer">@localizer["내자산이체"].Value</option>
                                    <option value="Investment">@localizer["투자"].Value</option>
                                    @*비소비지출*@
                                    <option value="PublicPension" hidden="hidden">@localizer["공적연금"].Value</option>
                                    <option value="DebtRepayment" hidden="hidden">@localizer["부채상환"].Value</option>
                                    <option value="Tax" hidden="hidden">@localizer["세금"].Value</option>
                                    <option value="SocialInsurance" hidden="hidden">@localizer["사회보험"].Value</option>
                                    <option value="InterHouseholdTranserExpenses" hidden="hidden">@localizer["가구간 이전지출"].Value</option>
                                    <option value="NonProfitOrganizationTransfer" hidden="hidden">@localizer["비영리단체 이전"].Value</option>
                                    @*소비지출*@
                                    <option value="MealOrEatOutExpenses" hidden="hidden">@localizer["식비/외식비"].Value</option>
                                    <option value="HousingOrSuppliesCost" hidden="hidden">@localizer["주거/용품비"].Value</option>
                                    <option value="EducationExpenses" hidden="hidden">@localizer["교육비"].Value</option>
                                    <option value="MedicalExpenses" hidden="hidden">@localizer["의료비"].Value</option>
                                    <option value="TransportationCost" hidden="hidden">@localizer["교통비"].Value</option>
                                    <option value="CommunicationCost" hidden="hidden">@localizer["통신비"].Value</option>
                                    <option value="LeisureOrCulture" hidden="hidden">@localizer["여가/문화"].Value</option>
                                    <option value="ClothingOrShoes" hidden="hidden">@localizer["의류/신발"].Value</option>
                                    <option value="PinMoney" hidden="hidden">@localizer["용돈"].Value</option>
                                    <option value="ProtectionTypeInsurance" hidden="hidden">@localizer["보장성보험"].Value</option>
                                    <option value="OtherExpenses" hidden="hidden">@localizer["기타지출"].Value</option>
                                    <option value="UnknownExpenditure" hidden="hidden">@localizer["미파악지출"].Value</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6 mb-3">
                                <label for="editExpenditureContents">@localizer["Contents"].Value</label>
                                <input class="form-control form-control-sm" type="text" data-val="true" data-val-required="@localizer["Please enter Contents"].Value" id="editExpenditureContents" name="editExpenditureContents" value="">
                                <span class="field-validation-valid text-danger" data-valmsg-for="editExpenditureContents" data-valmsg-replace="true"></span>
                            </div>
                            <div class="form-group col-md-6 mb-3">
                                <label for="editExpenditureAmount">@localizer["Amount"].Value</label>
                                <input class="form-control form-control-sm" min="0" type="number" id="editExpenditureAmount" name="editExpenditureAmount" value="0">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6 mb-3">
                                <label for="editExpenditurePaymentMethod">@localizer["PaymentMethod"].Value</label>
                                <br />
                                <select id="editExpenditurePaymentMethod" name="editExpenditurePaymentMethod">
                                    @foreach (var item in await assetRepository.GetAssetsAsync(JsonConvert.DeserializeObject<Account>(Encoding.Default.GetString(resultByte)).Email))
                                    {
                                        if (!item.Deleted)
                                        {
                                            <option value="@item.ProductName">@item.ProductName</option>
                                        }
                                    }
                                </select>
                            </div>
                            <div class="form-group col-md-6 mb-3">
                                <label for="editExpenditureNote">@localizer["Note"].Value</label>
                                <input class="form-control form-control-sm" type="text" data-val="false" id="editExpenditureNote" name="editExpenditureNote" value="">
                            </div>
                        </div>
                        <div id="divEditExpenditureMyDepositAsset" class="form-row">
                            <div class="form-group col-md-6 mb-3">
                                <label for="editExpenditureMyDepositAsset">@localizer["MyDepositAsset"].Value</label>
                                <br />
                                <select id="editExpenditureMyDepositAsset" name="editExpenditureMyDepositAsset">
                                    @foreach (var item in await assetRepository.GetAssetsAsync(JsonConvert.DeserializeObject<Account>(Encoding.Default.GetString(resultByte)).Email))
                                    {
                                        if (!item.Deleted)
                                        {
                                            <option value="@item.ProductName">@item.ProductName</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer justify-content-between">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">@localizer["Close"].Value</button>
                            <input type="submit" class="btn btn-primary" value="@localizer["Save"].Value" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@*<!--ConfirmDeleteDialogModal-->*@
<div class="modal" tabindex="-1" role="dialog" id="confirmDeleteExpenditureDialogModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                @localizer["Are you sure to delete?"].Value
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" onclick="DeleteExpenditure('@localizer["Please select grid row"].Value')">@localizer["DELETE"].Value</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">@localizer["Close"].Value</button>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/user/custom/AccountBook/Expenditure/js/site.js" asp-append-version="true"></script>
}